@import url('variables.css');

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    margin-top: 5rem;
}

.contact .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    text-align: start;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    width: 50%;
}

.form-contact input[type="submit"] {
    width: 50%;
    margin-left: 50%;
}

.map {
    padding: var(--padding-section);
}

.map iframe {
    border: 1px solid var(--light-color);
}