@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --skyblue-color: #3a86ff;
    --darkblue-color:  #002766;
    --green-color:  #7bd88a;
    --dark-color:  #0b2238;
    --orange-color:  #fb5607;
    --white-color:  #ffffff;
    --black-color:  #000000;
    --gray-color: #aaa;
    --grey-color: #e2e2e2;
    --light-color: #f7f7f7;

    --font-heading: 'Poppins', sans-serif;
    --font-text: sans-serif, 'Open Sans';

    --size-heading-1: 2rem;
    --size-heading-2: 1.8rem;
    --size-heading-3: 1.6rem;
    --size-heading-4: 1.2rem;
    --size-heading-5: 1rem;
    --size-heading-6: 1rem;
    --size-button: 1rem;
    --size-link: 0.9rem;
    --size-text: 0.9rem;

    --padding-section: 5rem 5rem;
    --padding-header: 1rem 5rem;
    --padding-newsletter: 1rem 0;
    --padding-heading: 0.3rem 0;
    --padding-text: 0.6rem 0;
    --padding-input: 0.8rem 1.2rem;
    --padding-button: 0.8rem 1.8rem;
    --padding-card-body: 1.5rem;
    --padding-card-blog-body: 1rem 0;
    --padding-card-header: 0rem;
    --padding-card-blog-header: 0rem;

    --border-radius-button: 30px;
    --border-radius-card: 10px;
    --border-radius-card-header: 10px 10px 0 0;
    --border-radius-card-blog-header: 10px;
}